# Node
node_modules/
npm-debug.log*
yarn-error.log
# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/
*.code-workspace

# WebStorm/JetBrains
.idea/
*.iml
*.iws
*.ipr
/out/
# WebStorm Local History
.idea/.idea/
.idea/.idea_modules/
.idea/.name
.idea/.settings/
.idea/assetWizardSettings.xml
.idea/jsLibraryMappings.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/shelf/
.idea/webServers.xml
.idea/.gitignore

# Logs
*.log

# Misc
dist/
build/
.env
.env.*
